<% form_for(@#{model.s}) do |f| %>\n  <%= f.error_messages %>"
    model.fields.each do |k, v|
      f.write
  <p>
    <%= f.label :#{k} %><br />
    <%= f.text_field :#{k} %>
  </p>
    end
    f.write
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
